*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
}
main{
  font-family: var(--font-sans);
  color: var(--color-text);
  background-color: var(--color-bg);
  min-height: 100vh;
}

.app-public {
  padding-top: 60px;
}
.app-dashboard{
  padding-top: 0;
}

@media (max-width: 768px) {
  .app-public {
    padding-top: 45px;
  }
}