@import "./base/variables.css";

@import "./layout/main.css";
@import "./layout/header.css";
@import "./layout/footer.css";

@import "./components/buttons.css";
@import "./components/contact-form.css";
@import "./components/navigation.css";

@import "./pages/home.css";